<mdb-card style="background-color: gray;">
    <mdb-card-header>EDUCATION</mdb-card-header>

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="ukzn-header-image"></div>
            <mat-card-title>University of Kwazulu Natal</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="user-graduate"></mdb-icon>
                    Bsc Honours Computer Science
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    Jan 2014 - Dec 2014
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href={{ukznURL}} target="_blank">
                    <span>
                        <mdb-icon fas icon="globe"></mdb-icon>
                        {{ukznURL}}
                        <mdb-icon fas icon="external-link-alt"></mdb-icon>
                    </span>
                </a>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">
            <p>
                <strong> Subjects:</strong> Image Processing, Optimization and Modelling, Medical
                Informatics, Artificial Intelligence, Data Mining, Neural networks.
                <br />
                <strong>Title of thesis :</strong> "Automatic identification of bees from wing pattern
                images".
            </p>

        </mat-card-content>
    </mat-card>

    <!--------------------------------DEGREE------------------------------------->

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="ukzn-header-image"></div>
            <mat-card-title>University of Kwazulu Natal</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="user-graduate"></mdb-icon>
                    Bsc Computer Science and Information Technology
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    Feb 2011 - Dec 2013
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href={{ukznURL}} target="_blank">
                    <span>
                        <mdb-icon fas icon="globe"></mdb-icon>
                        {{ukznURL}}
                        <mdb-icon fas icon="external-link-alt"></mdb-icon>
                    </span>
                </a>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">
            <p>
                <strong>Distinctions obtained in:</strong> Calculus and Linear Algebra, Discrete Mathematics
                with Applications, Object-Oriented Programming, Data Structures,
                Advanced Programming, Computer Systems.
            </p>
        </mat-card-content>
    </mat-card>


    <!--------------------------------High School------------------------------------->

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="high-school-header-image"></div>
            <mat-card-title>Somfula High School</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="user-graduate"></mdb-icon>
                    National Senior Certificate (Matriculation)
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    Jan 2005 - Dec 2009
                </span>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">
            <p>
                <strong>Subjects:</strong> Mathematics(90%), Physical Science(65%), Engineering
                Graphics and Design (90%), Geography(62%), IsiZulu Home Language(
                74%), English First Additional(56%), Life Orientation(65%).
            </p>

        </mat-card-content>
    </mat-card>

</mdb-card>