<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="row">
  <div class="col-sm-12  col-md-4 col-lg-4">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: x-large;">Welcome Bonginhlahla Sithole</mat-card-title>
        <mat-card-subtitle>FULL STACK DEVELOPER</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://github.com/SitholeWB/my-resume/blob/master/src/assets/profile-pic.jpg?raw=true"
        alt="Photo of a Welcome Bonginhlahla Sithole">
      <mat-card-content>
        <app-contact-section></app-contact-section>
      </mat-card-content>

    </mat-card>

  </div>
  <div class="col-sm-12 col-md-8 col-lg-8">

    <app-about-me></app-about-me>

    <app-work-experience></app-work-experience>

    <app-education></app-education>
    
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>