<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="row">
  <div class="col-sm-12  col-md-4 col-lg-4">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: x-large;">Welcome Bonginhlahla Sithole</mat-card-title>
        <mat-card-subtitle>FULL STACK DEVELOPER</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://raw.githubusercontent.com/SitholeWB/my-resume/master/resume/id.jpg"
        alt="Photo of a Welcome Bonginhlahla Sithole">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

    </mat-card>

  </div>
  <div class="col-sm-12 col-md-8 col-lg-8">

    <mdb-card>
      <mdb-card-header>ABOUT ME</mdb-card-header>
      <mdb-card-body>
        <span *ngIf="!showFullCoverLetter">
          <mdb-card-text>
            Experienced Full Stack Developer with over 4 years in the industry and high-level proficiency in the
            following
            programs: C#, Javascript, SQL, Java, Angular and React. I am very familiar and experienced with Web
            Application Architecture and have worked with a good number of successful development teams.
          </mdb-card-text>
          <button mat-raised-button color="accent" (click)="toggleCoverLetter()">Expand full cover letter >></button>
        </span>

        <span *ngIf="showFullCoverLetter">
          <mdb-card-text>
            <p>
              Dear Sir or Madam.
            </p>
            <p>
              With the utmost enthusiasm I would like to put my name forward as a Full Stack Developer.
            </p>
            <p>
              I have the ability to create back-end code that will add utility to everything the front-end designer
              creates. I'm passionate about the impact my skills can have in the real world, and firmly believe that I
              can
              create innovative solutions to business processes and problems which will ultimately lead to a better user
              experience.
            </p>
            <p>
              With my previous experience in using an array of programming languages and my expertise at delivering high
              quality and user rich solutions on time, I see myself as a good fit developer. I possess a proven and
              verifiable track record in building and managing mass-market e-commerce sites.
            </p>
            <p>
              In short, I can bring to your company my ability to take finished front-end code and gives it working
              functionality. I possess an in-depth understanding of both front end and back end technologies, and am
              very
              good at defining what success looks like. Furthermore I am proficient in Microsoft and Web Technologies
              such
              as C#, ASP.Net, .NET Core, SQL Server, Angular and React. I am also strong and comfortable with Java
              language, I have used it a lot in the past.
            </p>
            <p>
              My ambition is to reach the very top of my profession and to work with other leading developers in this
              field. On a personal level I am able to both give and take feedback. Furthermore I am committed to
              constantly improving myself by learning new technologies and frameworks.
            </p>
            <p>
              Yours sincerely,
              <br />
              Welcome Bonginhlahla Sithole
            </p>
          </mdb-card-text>
          <button mat-raised-button color="accent" (click)="toggleCoverLetter()">Collapse cover letter << </button>
        </span>

      </mdb-card-body>
    </mdb-card>
    <mdb-card>
      <mdb-card-header>EXPERIENCE</mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>
          Experienced Full Stack Developer with over 4 years in the industry and high-level proficiency in the following
          programs: C#, Javascript, SQL, Java, Angular and React. I am very familiar and experienced with Web
          Application Architecture and have worked with a good number of successful development teams.
        </mdb-card-text>
        <button mat-raised-button color="accent">Expand full cover letter >></button>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>