<mdb-card style="background-color: gray;">
    <mdb-card-header>EXPERIENCE</mdb-card-header>

    <!--------------------------------IMMEDIA------------------------------------->

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="immedia-header-image"></div>
            <mat-card-title>Immedia</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="briefcase"></mdb-icon>
                    Software Developer
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    October 2020 - Present
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href={{immediaURL}} target="_blank">
                    <span>
                        <mdb-icon fas icon="globe"></mdb-icon>
                        {{immediaURL}}
                        <mdb-icon fas icon="external-link-alt"></mdb-icon>
                    </span>
                </a>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">

            <div *ngIf="expandCompany !=='immedia'">
                <p>
                    Coming soon...
                </p>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('immedia')">More >></mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="expandCompany ==='immedia'">
                <div>Coming soon...</div>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('')">Collapse &lt;&lt;</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>

    <!--------------------------------LEXISNEXIS------------------------------------->

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="lexisnexis-header-image"></div>
            <mat-card-title>LexisNexis</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="briefcase"></mdb-icon>
                    Software Engineer
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    Jun 2019 - Sep 2020
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href={{lexisnexisURL}} target="_blank">
                    <span>
                        <mdb-icon fas icon="globe"></mdb-icon>
                        {{lexisnexisURL}}
                        <mdb-icon fas icon="external-link-alt"></mdb-icon>
                    </span>
                </a>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">

            <div *ngIf="expandCompany !=='lexisnexis'">
                <p>
                    Maintain and add new features to existing .Net Web
                    applications.
                </p>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('lexisnexis')">More >></mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="expandCompany ==='lexisnexis'">
                <div>
                    <h5>My main focus is on application called
                        <a href={{refcheckURL}} target="_blank"> RefCheck
                            <mdb-icon fas icon="external-link-alt"></mdb-icon>
                        </a>
                        , details below:
                    </h5>
                    <ul>
                        <li>
                            Lexis RefCheck enables recruitment agencies and employers to verify the personal details of
                            a
                            potential employee or candidate
                            prior to offering employment. By improving transparency and disclosure, informed decisions
                            can
                            be made regarding
                            one of the most important assets of an organization, its employees.
                        </li>
                        <li>
                            <strong>Verifications offered by Lexis RefCheck:</strong> Criminal Records Checks, Credit
                            Reports, Matric &
                            Tertiary Qualification Verifications,
                            ID Verifications & Fraud Listings, Driving Licences & Professional Driving Permit, and Fit &
                            Proper and FAIS Comprehensive
                            Checks.
                        </li>
                        <li> <strong>Technologies: </strong>C#, JavaScripts, ASP.Net, .Net Framework, SQL
                            Server,WebForms,WCF,WinForms, HTML5.
                        </li>
                    </ul>
                </div>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('')">Collapse &lt;&lt;</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>

    <!--------------------------------DERIVCO------------------------------------->

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="derivco-header-image"></div>
            <mat-card-title>Derivco</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="briefcase"></mdb-icon>
                    Software Developer
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    Feb 2016 - May 2019
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href={{derivcoURL}} target="_blank">
                    <span>
                        <mdb-icon fas icon="globe"></mdb-icon>
                        {{derivcoURL}}
                        <mdb-icon fas icon="external-link-alt"></mdb-icon>
                    </span>
                </a>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">
            <div *ngIf="expandCompany !=='derivco'">
                <p>
                    Maintain/Support and add new features to existing .Net Web
                    applications. Write/Re-write new Applications, usually backend.
                </p>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('derivco')">More >></mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="expandCompany ==='derivco'">
                <div>
                    <ul>
                        <li>Maintain/Support and add new features to existing .NetWeb applications. Write/Re-write new
                            Applications, usually backend.
                        </li>
                        <li> <strong>Technologies: </strong>Web APIs, Angular, .Net Core, C#, SQL Server, JavaScripts,
                            ASP.Net MVC, .Net Framework,WebForms,
                            HTML5.
                        </li>
                    </ul>
                </div>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('')">Collapse &lt;&lt;</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>


    <!--------------------------------Astel------------------------------------->

    <mat-card class="mdb-card-work-section">
        <mat-card-header class="mdb-card-header-work-section">
            <div mat-card-avatar class="astel-header-image"></div>
            <mat-card-title>Astel</mat-card-title>
            <mat-card-subtitle class="mdb-card-subtitle-work-section">
                <span>
                    <mdb-icon fas icon="briefcase"></mdb-icon>
                    Software Developer
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <span>
                    <mdb-icon fas icon="calendar-alt"></mdb-icon>
                    Aug 2015 - Jan 2016
                </span>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <a href={{astelURL}} target="_blank">
                    <span>
                        <mdb-icon fas icon="globe"></mdb-icon>
                        {{astelURL}}
                        <mdb-icon fas icon="external-link-alt"></mdb-icon>
                    </span>
                </a>
                <mat-divider class="mat-divider-work-section"></mat-divider>
            </mat-card-subtitle>
        </mat-card-header>


        <mat-card-content class="mdb-card-content-work-section">
            <div *ngIf="expandCompany !=='astel'">
                <p>
                    Helping development team with integrating Silver light application
                    to ASP.NET MVC and HTML5.
                </p>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('astel')">More >></mat-chip>
                </mat-chip-list>
            </div>
            <div *ngIf="expandCompany ==='astel'">
                <div>
                    <h5>My main focus is on application called Globill, details below:
                    </h5>
                    <ul>
                        <li>
                            Globill’s smart billing module allows the billing team to execute billing processes any time
                            of
                            day.
                        </li>
                        <li>
                            Helping development team with integrating Silver light application to ASP.NET MVC and HTML5.
                        </li>
                        <li> <strong>Technologies: </strong>C#, JavaScripts, ASP.Net, .Net Framework, SQL Server, HTML5,
                            SOAP.
                        </li>
                    </ul>
                </div>
                <mat-chip-list>
                    <mat-chip color="accent" selected (click)="toggleCompanyDetails('')">Collapse &lt;&lt;</mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-content>
    </mat-card>

</mdb-card>